<a href="https://colab.research.google.com/github/taynanmancilla/Estudo_DataScience_Python/blob/main/M1_Introducao_Numpy%26Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science com Python**

1.   Introdução a Bibliotecas

## Módulo 01 - Introdução ao Python

Esse documento relata o aprendizado sobre as bibliotecas Pandas e Numpy

Do módulo 1 do curso de Data Science para o Mercado financeiro da MODAL

# 19. Trabalhando com Bibliotecas!

1. O que são bibliotecas
2. Importância de se utilizar bibliotecas

In [ ]:
# Declaração:
import numpy as np

import pandas as pd

## 19.1 Numpy

O principal tipo de objeto que criamos com NUMPY é o 'Array'

Para cirar arrays, temos diversas funções diferentes, cada um servido a um propósito específico

Por exempo, podemos criar arrays que contém apenas zeros

In [ ]:
a = np.zeros(3)

In [ ]:
a

array([0., 0., 0.])

In [ ]:
# Atributo shape retorna dimensões do array

a.shape # Nesse caso (3colunas, 1linha)

(3,)

In [ ]:
# As dimensões são manipuláveis. Logo, podemos especificar o número de linhas e colunas:

a.shape = (3,1)

In [ ]:
a.shape

(3, 1)

In [ ]:
a

array([[0.],
       [0.],
       [0.]])

Vamos criar array contendo apenas '1'

In [ ]:
b = np.ones(10)

In [ ]:
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

Agora vamos criar Arrays vazios

In [ ]:
c = np.empty(4)

In [ ]:
# Veja que mesmo sendo próximo a 'vazio', os elementos da lista são não-nulos
c

array([5.e-324, 5.e-324, 5.e-324, 0.e+000])

Podemos criar um array determinando início, fim e número de componentes

In [ ]:
#(Começo, Fim, n°Componentes)

d = np.linspace(3, 15, 10)

In [ ]:
d

array([ 3.        ,  4.33333333,  5.66666667,  7.        ,  8.33333333,
        9.66666667, 11.        , 12.33333333, 13.66666667, 15.        ])

Podemos especificar manualmente os elementos do array

In [ ]:
# Array com apenas o n° 10

e = np.array(10)

In [ ]:
e

array(10)

In [ ]:
# Passar em forma de lista quando for mais de 1 elemento

f = np.array([1,2,3,4,5])

In [ ]:
f

array([1, 2, 3, 4, 5])

Transformando uma Lista em um Array

In [ ]:
lista = [4,5,6,7,8,9]

In [ ]:
g = np.array(lista)

In [ ]:
g

array([4, 5, 6, 7, 8, 9])

In [ ]:
type(g)

numpy.ndarray

Lista de Listas

In [ ]:
lista_listas = [[1,2,3,4], [5,6,7,8,9]]

In [ ]:
h = np.array(lista_listas)

In [ ]:
h

array([list([1, 2, 3, 4]), list([5, 6, 7, 8, 9])], dtype=object)

Criando Arrays aleatórios

In [ ]:
# De 0 a 10 com 6 elementos
# Dessa forma novos números são gerados a cada execução

np.random.randint(0, 10, size = 6)

array([0, 5, 7, 7, 8, 3])

In [ ]:
# 'seed': padrão de config pra manter a aleatoriedade
# Usando o seed, a aleatoriedade gerada fica fixa

np.random.seed(10)
np.random.randint(0, 10, size = 6)

array([9, 4, 0, 1, 9, 0])

In [ ]:
np.random.seed(0)

In [ ]:
i = np.random.randint(10, size = 6)

In [ ]:
i

array([5, 0, 3, 3, 7, 9])

Podemos realizar indexação e slicing nos arrays:

In [ ]:
i[0]

5

In [ ]:
i[3]

3

In [ ]:
i[-1]

9

Operações Aritméticas

In [ ]:
a = np.array([10,20,100,200,500])
b = np.array([3,4,5,6,7])

np.add(a, b) # Realiza a soma com numpy

array([ 13,  24, 105, 206, 507])

In [ ]:
a + b # Da no mesmo

array([ 13,  24, 105, 206, 507])

In [ ]:
np.subtract(a, b)

array([  7,  16,  95, 194, 493])

In [ ]:
a - b # Da no mesmo

array([  7,  16,  95, 194, 493])

In [ ]:
np.multiply(a, b)

array([  30,   80,  500, 1200, 3500])

In [ ]:
a * b # Da no mesmo

array([  30,   80,  500, 1200, 3500])

In [ ]:
np.divide(a, b)

array([ 3.33333333,  5.        , 20.        , 33.33333333, 71.42857143])

In [ ]:
a / b

array([ 3.33333333,  5.        , 20.        , 33.33333333, 71.42857143])

## 19.1 Pandas

Baixar dados sobre ações com Yahoo Finance

Temos um arquivo .csv com dados da WEGE3

Função para abrir .csv com Pandas

In [ ]:
dados = pd.read_csv('WEGE3.SA.csv')

Com atributo SHAPE podemos verificar as dimensões

In [ ]:
dados.shape

Com atributo DTYPES podemos verificar o tipo das variáveis

In [ ]:
#Retorna todas as colunas e seus tipos

dados.dtypes

In [ ]:
# Tipo do objeto de dados
type(dados)

Método HEAD para ver as 5 primeiras linhas da tabela

In [ ]:
# Colocar quantidade de linha no parenteses para visualizar
# Caso nao passe nada, retorna 5 linhas

dados.head()

Método TAIL para ver as últimas linhas da tabela

In [ ]:
# Colocar quantidade de linha no parenteses para visualizar
# Caso nao passe nada, retorna 5 linhas

dados.tail()

Filtros em Data Frames

**Extração utilizando o indice**

dados.loc[ ]


**Extração utilizando a posição da linha**

dados.iloc[ ]

In [ ]:
# Filtrando dados do índice 0

dados.loc[0]

In [ ]:
# Filtrando dados pela posição da linha

dados.iloc[0]

obs: Esse nosso csv coincide a posição da linha com o índice, por isso os retornos são iguais

In [ ]:
# Além de filtrar linha, podemos filtrar células

dados.iloc[0, 0] # Coluna 0 da linha 0

In [ ]:
# Ou podemos filtrar colunas de nome específico

dados['Open'] # Apenas dados da coluna 'Open'

In [ ]:
# Podemos plotar apenas uma coluna

dados['Open'].plot();

In [ ]:
# Podemos usar essa sintaxe mais simples para plotagem
# dataFrame.NomeColuna.plot()
# Usar apenas quando não houver espaços vazios no nome da coluna

dados.Open.plot();

Combinando o que foi aprendido:

In [ ]:
# Filtrando 500 primeiras linhas

dados.iloc[0:500]

In [ ]:
# 500 primeiras linhas da coluna Close

dados.iloc[0:500].Close

In [ ]:
# Plotando um seguimento de coluna
# 500 primeiras linhas da coluna Close

dados.iloc[0:500].Close.plot()

Comando para configurar o Indice:

dados.index

In [ ]:
# Transferindo valor da Data para o Indice
# de tal forma que o índice do dataframe se torne a própria data

dados.index = dados.Date

In [ ]:
dados.head()

In [ ]:
# Agora sim vemos a diferença em usar o LOC[]

dados.loc['2017-07-24']

In [ ]:
# Lembrando que o ILOC[] continua sendo por localização

dados.iloc[0]

AGORA VAMOS TRABALHAR COM DIRETÓRIOS DIFERENTES

In [ ]:
import os

Qual o diretório que estamos trabalhando neste momento?

In [ ]:
# Retorna o caminho

os.getcwd()

Passar caminho completo do arquivo, caso esteja em outra pasta:

In [ ]:
pd.read_csv('/content/sample_data/california_housing_train.csv')

Modificar Diretório

In [ ]:
# chdir - Change Directory

os.chdir('/content/sample_data')

In [ ]:
os.getcwd()

In [ ]:
pd.read_csv('california_housing_train.csv')

RENOMEAR COLUNAS DE UM DATAFRAME

In [ ]:
# {'nomeColuna':'novoNome'}

dados.rename(columns = {'Date':'Data', 'Adj Close':'WEGE3'})

In [ ]:
# Porem não alterou definirivamente

dados.head()

In [ ]:
# Adicionar 'inplace = True' para garantir a alteração

dados.rename(columns = {'Date':'Data', 'Adj Close':'WEGE3'}, inplace = True)

In [ ]:
dados.head()

REMOVER COLUNAS DE UM DATAFRAME

In [ ]:
# Especificar o AXIS no final sendo AXIS o eixo de linhas e colunas
# axis = 0 é o eixo das linhas
# axis = 1 é o eixo das colunas

dados.drop(['Data', 'Volume'], axis = 1, inplace = True)

In [ ]:
dados.head()

PLOTANDO TODAS AS COLUNAS

In [ ]:
dados.plot();

FILTRANDO APENAS ALGUMAS LINHAS ESPECÍFICAS

In [ ]:
dados.iloc[943:994].plot()

AUMENTANDO TAMANHO DO GRÁFICO

In [ ]:
dados.iloc[943:994].plot(figsize = (8,8))